<h1>Salut ! SVP confirmer votre Adresse Mail</h1>

<p>
    S'il vous plait confirmer votre adresse email en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer votre Email</a>.
    Ce line expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>


