 {% extends "base2.html.twig" %} 
{% block title %}produit{% endblock %}  
{% block body %}
 <section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    
                    <li><a href="/afficher_produits">Liste des produits</a></li>
                    <ul class="breadcrumb padding-0">
                        <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">produits</a></li>
                        <li class="breadcrumb-item active">liste des produits</li>
                    </ul>
                    
                </div>            
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="input-group m-b-0">                
                        
                    
                           
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- LISTE DES PRODUITS -->
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        
                         
                        <h2><strong>Basic Table</strong> <small>Basic example without any additional modification classes</small> </h2>
                        <ul class="header-dropdown">
                            <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                   
									<li><a href="javascript:void(0);" class="boxs-close">Delete</a></li>
                                    <li><a href="{{ path ('afficher_produits_tri')}}" class="boxs-close">trier par prix</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <form action="#" class="nk-form nk-form-style-1" novalidate="novalidate">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Type something..." id="search">
								

							</div>
						</form>
                        
                    <div id="all">
						{% include "produits/ajax.html.twig" %}
					</div>


					<div id="search"></div>
                           
              

              
                    
                   
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Basic Examples --> 
       
    </div>
</section>
{% block javascript %}
		
		<script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')}}"></script>
		<script>
			$(document).ready(function () {
var currentRequest = null;
$("#search").keyup(function (e) {
var value = $(this).val();
if (currentRequest != null) {
currentRequest.abort();
}

currentRequest = $.ajax({
url: "{{ path('ajaxproduit') }}",
type: 'GET',
data: {
'searchValue': value
},
success: function (retour) {
$('#all').html(retour);
}
});
return false;
});
});
		</script>
	{% endblock %}
{% endblock %}
 
 